* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.font {
    font-family: "Work Sans", sans-serif;
}

/* Banner Related Styles  */

.banner-container {
    display: flex;
    justify-content: end;
    ;
    /* background-color: aquamarine; */
    padding: 216px 230px 166px;
    background: url(../images/banner/banner1.png);
    min-height: 100vh;
}

.banner-container .banner-content {
    max-width: 525px;
    /* background-color: bisque; */
    text-align: right;
}

.banner-content h2 {
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 24px;
    color: #151414;

}

.banner-content p {
    font-size: 16px;
    margin-bottom: 32px;
    line-height: 26px;
    color: #444343;

}

.banner-content button {
    padding: 21px 25px;
    border: none;
    border-radius: 6px;
    background-color: #F15B22;
    color: white;
    font-size: 20px;
    font-weight: 600;

    transition: transform 0.3s ease-in-out;
}

.banner-content button:hover {
    transform: translateY(-4px) scale(1.03);
}

/* Image Section */

image-section {}


.image-main-container {
    max-width: 1100px;
    display: flex;
    justify-content: space-between;

    margin: 0 auto;
    padding-top: 152px;
    padding-bottom: 130px;
    gap: 87px;
    align-items: center;


}

.image img {
    max-width: 569px;
    width: 100%;
}

.content {
    max-width: 416px;
}

.content ul li {
    list-style-type: none;
    font-size: 16px;
    margin-bottom: 16px;
    line-height: 26px;
    color: #444343;
}

.content h2 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
    color: #151414;

}

.content p {
    font-size: 16px;
    margin-bottom: 16px;
    line-height: 26px;
    color: #444343;
}

.fa-check {
    color: #16D887;
}



/* Card Section Related Styles */

.card-section {
    margin: 0 auto;
    margin-bottom: 135px;
}

.card-heading {
    text-align: center;
    margin-bottom: 55px;
    font-size: 40px;

}

.card-container {
    max-width: 1145px;
    display: flex;
    justify-content: center;
    gap: 86px;
    margin: 0 auto
}

.card {
    max-width: 220px;
    border-radius: 5px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-6px);
}

.card img {
    margin: 0 auto;
}


/* Watch SEction related styles */

.watch-section {
    margin-bottom: 120px;
}

.watch-container {
    max-width: 1145px;
    display: flex;
    justify-content: start;
    background-image:
        linear-gradient(rgba(241, 93, 34, 0.267), rgba(241, 93, 34, 0.281)),
        url("../images/watch.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    border-radius: 16px;
}

.watch-content {
    max-width: 460px;
    padding-top: 59px;
    padding-bottom: 59px;
    padding-left: 64px;
}

.watch-content h2 {
    font-size: 40px;
    font-weight: 700;
    color: white;
    margin-bottom: 24px;
}

.watch-content button {
    padding: 21px 36px;
    background-color: white;
    color: #F15B22;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
}


/* Feature section related styles */


.feature-section {
    background-color: #151414;
    /* background-color: aqua; */
    padding: 130px 230px;

}

.feature-container {
    max-width: 1145px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    gap: 331px;
}

.feature-left {
    max-width: 485px;
}

.feature-left h2 {
    font-size: 45px;
    color: white;
    margin-bottom: 16px;
}

.feature-left p {
    font-size: 16px;
    color: white;
    margin-bottom: 16px;
}

.feature-left img {
    max-width: 40px;
    margin-right: 17px;
}

.feture-right {
    max-width: 325px;
}

.feature-right h3 {
    font-size: 26px;
    margin-bottom: 30px;
    color: white;
}

.feature-right input {
    width: 325px;
    height: 64px;
    border: 1px solid white;
    border-radius: 6px;
    margin-bottom: 16px;
    font-size: 20px;
    padding-left: 5px;

}

.feature-right button {
    padding: 21px 36px;
    background-color: white;
    color: #F15B22;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
}